---
layout: default
---

<main class="usajobs-content-well-full" role="main">
  <div class="usajobs-ms-hero">
    <div class="usajobs-ms-hero__body">
      <amp-img src="{{ site.baseurl }}/assets/images/datacenter-wide.jpg"
        srcset="{{ site.baseurl }}/assets/images/datacenter-wide.jpg 768w,
        {{ site.baseurl }}/assets/images/datacenter-narrow.jpg 480w,
        {{ site.baseurl }}/assets/images/datacenter-narrow.jpg 100w"
        width="1600"
        height="600"
        layout="responsive"
        alt="A datacenter"></amp-img>
      <div class="usajobs-ms-hero__inner">
        <h1 class="usajobs-ms-hero__title">{{ site.title }}</h1>
        <a id="hero-start-search" href="https://www.usajobs.gov/Search/Results/?j=0110&j=1530&j=1529&j=1520&j=1550&j=1515&j=2210&j=0343&j=1102&j=1101&k=data+analysis" class="usa-button usa-button-secondary usajobs-button usajobs-ms-hero__button">
          Start your search
        </a>
      </div>
    </div>
  </div>

  <section class="usajobs-grid usajobs-ms-section climate">
    <div class="usajobs-ms-section__body usajobs-ms-section--media-object">
      <div class="usajobs-ms-section--media-object__body">
        <div class="usajobs-ms-section--media-object__body-contents">
          <h2 class="usajobs-ms-section__title">
            A powerful force in government
          </h2>
          <h4 class="usajobs-ms-section__sub-title">
            How has the Federal Government leveraged data to produce meaningful change?
          </h4>
          <p>
            See how NOAA and other Federal agencies worked together to build a tool that uses data-driven tools to boost climate resiliency. Here, you can find data related to climate change that helps inform and prepare America’s communities, businesses, and citizens. Its impact:
          </p>
          <blockquote class="usajobs-ms-section__quote">
            	&ldquo;Through the release of Arctic-themed climate data, the U.S. is demonstrating its leadership in sharing free and open climate-relevant information while also encouraging public innovation and partnerships with private sector entities that are interested in leveraging this data.&rdquo; &dash; Secretary Sally Jewel
          </blockquote>
          <p>
            <a id="climate-cta" href="https://toolkit.climate.gov/">Read more about this project.</a>
          </p>
        </div>
      </div>
      <div class="usajobs-ms-section--media-object__figure">
        <amp-img src="{{ site.baseurl }}/assets/images/climate-toolkit-wide.png"
          srcset="{{ site.baseurl }}/assets/images/climate-toolkit-wide.png 768w,
          {{ site.baseurl }}/assets/images/climate-toolkit-narrow.png 480w,
          {{ site.baseurl }}/assets/images/climate-toolkit-narrow.png 100w"
          width="368"
          height="245"
          layout="responsive"
          alt="The frontpage of the toolkit.climate.gov web site."></amp-img>
      </div>
    </div>
  </section>

  <section class="usajobs-grid usajobs-ms-section usajobs-ms-section--qualifications">
    <div class="usajobs-ms-section__body">
      <h2 class="usajobs-ms-section__title usajobs-ms-section--qualifications__title">
        Qualifications
      </h2>
      <h4 class="usajobs-ms-section__subtitle usajobs-ms-section--qualifications__subtitle">
        What does it take to have a career in data science in the Federal Government?
      </h4>
      <ul class="usajobs-ms-section__list">
        <li class="usajobs-ms-section-item">
          <div class="usajobs-ms-section-item__figure">
            <amp-img src="{{ site.baseurl }}/assets/images/code.svg" width="90" height="90" alt="Code icon"></amp-img>
          </div>
          <div class="usajobs-ms-section-item__body">
            <h3>Programming</h3>
            <p>
              Knowledge of languages such as SQL, Python, C/C++, Perl, JavaScript, and more make data science candidates more competitive in applying for jobs. Knowing these languages isn’t enough - knowing which tools are right for the problem at hand are helpful, too!
            </p>
          </div>
        </li>
        <li class="usajobs-ms-section-item">
          <div class="usajobs-ms-section-item__figure">
            <amp-img src="{{ site.baseurl }}/assets/images/calculator.svg" width="90" height="90" alt="Calculator icon"></amp-img>
          </div>
          <div class="usajobs-ms-section-item__body">
            <h3>Statistical ability</h3>
            <p>
              Successful candidates will be able to perform complex statistical analysis on datasets, including, but not limited to: Data Structures and Database Management, Imputation, Exploratory Data Analysis and Visualization, Regression, Classification, and more.
            </p>
          </div>
        </li>
        <li class="usajobs-ms-section-item">
          <div class="usajobs-ms-section-item__figure">
            <amp-img src="{{ site.baseurl }}/assets/images/lightbulb.svg" width="90" height="90" alt="Lightbulb icon"></amp-img>
          </div>
          <div class="usajobs-ms-section-item__body">
            <h3>Analytical thinking</h3>
            <p>
              This is an important skill that allows data scientists to approach and visualize business problems analytically, think creatively, evaluate various data science solutions, be innovative in their execution, and articulate these solutions in a meaningful way.
            </p>
          </div>
        </li>
        <li class="usajobs-ms-section-item">
          <div class="usajobs-ms-section-item__figure">
            <amp-img src="{{ site.baseurl }}/assets/images/desktop.svg" width="90" height="90" alt="Desktop icon"></amp-img>
          </div>
          <div class="usajobs-ms-section-item__body">
            <h3>Domain knowledge</h3>
            <p>
              Most positions require sector-specific domain knowledge. In the Federal Government, data scientists are needed in many sectors: from Agriculture, Climate, Consumer, and Defense, to Economics, Ecosystems, Education, and more.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="usajobs-grid usajobs-ms-section usajobs-ms-section--opportunities">
    <div class="usajobs-ms-section__body">
      <h2 class="usajobs-ms-section__title">
        Opportunities
      </h2>
      <h4>
        What are examples of data science roles in the Federal Government?
      </h4>
      <h3 class="usajobs-ms-section__subtitle">
        Search by occupation
      </h3>
      <ul class="usajobs-ms-section__list usajobs-ms-section--opportunities__list">
        {% for occupation in site.data.keywords %}
        {%   assign title = occupation[0] %}
        {%   assign occ = site.data.keywords[title] %}
        <li class="usajobs-ms-section__item usajobs-ms-section--opportunities__item">
          <a id="occupations-{{ occ.keyword }}" class="usajobs-ms-section--opportunities__link" href="https://www.usajobs.gov/Search/Results?k={{ occ.keyword }}">
            {{ title }}
          </a>
        </li>
        {% endfor %}
      </ul>

      <h3 class="usajobs-ms-section__subtitle">
        Search by series
      </h3>
      <ul class="usajobs-ms-section__list usajobs-ms-section--opportunities__list">
        {% for series in site.data.series %}
        {%   assign title = series[0] %}
        {%   assign section = site.data.series[title] %}
        <li class="usajobs-ms-section__item usajobs-ms-section--opportunities__item">
          <a id="series-{{ section.code }}" class="usajobs-ms-section--opportunities__link" href="https://www.usajobs.gov/Search/Results?j={{ section.code }}">
            {{ title }} ({{ section.code }})
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="usajobs-grid usajobs-ms-section usajobs-ms-section--open-data-cta">
    <div class="usajobs-ms-section__body">
      <h2 class="usajobs-ms-section__title usajobs-ms-section--open-data-cta__title">
        Explore the U.S. Government’s open data platform
      </h2>
      <p>
        What kind of data could you be working with in the Federal Government? Use this link to explore data, tools, and resources to conduct research, develop web and mobile applications, design data visualizations, and more from 14 different domains.
      </p>
      <p>
        <a id="open-data-cta" href="https://www.data.gov/" class="usa-button usa-button-outline-inverse">
          Learn more
        </a>
      </p>
    </div>
  </section>

  <section class="usajobs-grid usajobs-ms-section priyanka">
    <div class="usajobs-ms-section__body usajobs-ms-section--media-object">
      <div class="usajobs-ms-section--media-object__figure">
        <amp-img src="{{ site.baseurl }}/assets/images/priyanka-wide.png"
          srcset="{{ site.baseurl }}/assets/images/priyanka-wide.png 992w,
          {{ site.baseurl }}/assets/images/priyanka-narrow.png 768w,
          {{ site.baseurl }}/assets/images/priyanka-narrow.png 480w,
          {{ site.baseurl }}/assets/images/priyanka-narrow.png 100w"
          width="336"
          height="505"
          layout="responsive"
          alt="The frontpage of the toolkit.climate.gov web site."></amp-img>
      </div>
      <div class="usajobs-ms-section--media-object__body">
        <div class="usajobs-ms-section--media-object__body-contents">
          <h3 class="usajobs-ms-section__title">
            Priyanka Oberoi, a Data Scientist in the Commerce Data Service, uses her expertise to answer tough questions.
          </h3>
          <blockquote class="usajobs-ms-section__quote">
            	&ldquo;As a Data Scientist in the Commerce Data Service, which is a public startup in the Department of Commerce, I talk to teams across DOC and try to see how data science can be used to answer a question, improve a process, or measure an outcome. Since we are a small team, my responsibilities span the data science pipeline.

              This is a pretty hands-on process where we try to understand a problem, leverage data, implement statistics, and build something that has an impact. We build data products for teams within the agency, we teach data science courses to DOC employees through the Data Academy, and we push for data usability so our open data gets used by researchers, the private sector and non-profits.&rdquo; &dash; Priyanka Oberoi
          </blockquote>
          <p class="usajobs-ms-section__cta-center">
            <a id="priyanka-cta" href="https://medium.com/data-in-action/the-most-exciting-new-frontier-is-charting-what-is-already-there-a8556007358e" class="usa-button-primary">
              Read more about this on Medium
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="usajobs-grid usajobs-ms-section usajobs-ms-section--search-cta">
    <div class="usajobs-ms-section__body">
      <h2 class="usajobs-ms-section__title usajobs-ms-section--search-cta__title">
        Explore data science opportunities in the Federal Government.
      </h2>
      <p>
        If you are interested in a career in data science in the government, we are looking for individuals with the training and curiosity to make discoveries in the world of big data. Find your opportunity to help shape America’s future by clicking the button below!
      </p>
      <p>
        <a id="search-cta" href="https://www.usajobs.gov/Search/Results/?j=0110&j=1530&j=1529&j=1520&j=1550&j=1515&j=2210&j=0343&j=1102&j=1101&k=data+analysis" class="usa-button usa-button-secondary">
          Start your search
        </a>
      </p>
    </div>
  </section>
</main>
