<header class="usajobs-site-header" role="banner" aria-label="header">
  <!-- Gov banner BEGIN -->
  <div class="usa-banner">
    <div>
      <header class="usa-banner-header">
        <div class="usajobs-grid usa-banner-inner usajobs-nav--full_bleed__banner-inner">
        <span class="usa-banner-header__img">
          <amp-img src="{{ site.baseurl }}/assets/images/favicons/favicon-57.png" width="20" height="20" alt="U.S. flag" />
        </span>
        <p>An official website of the United States government</p>
        </div>
      </header>
    </div>
  </div>
  <!-- Gov banner END -->
</header>
